<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NameOfClg</th>
      <th>Name</th>
      <th>ModeOfEntry</th>
      <th>Relation</th>
      <th>Sex</th>
      <th>IdentityProof</th>
      <th>IdentityProofNo</th>
      <th>Ph_no</th>
      <th>PurposeOfVisit</th>
      <th>Department</th>
      <th>MeetingPerson</th>
      <th>NumberOfPersons</th>
      <th>Pic_loc</th>
      <th>Pdf_loc</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>32</th>
      <td>St. Josephs College Of Engineering</td>
      <td>asd</td>
      <td>Parents</td>
      <td>Father</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>5646</td>
      <td>123</td>
      <td>hjg</td>
      <td>B.Tech. - Biotechnology</td>
      <td>DEAN</td>
      <td>1</td>
      <td>/home/sanjiv/Reception_web/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
  </tbody>
</table>