<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NameOfClg</th>
      <th>Name</th>
      <th>ModeOfEntry</th>
      <th>Relation</th>
      <th>Sex</th>
      <th>IdentityProof</th>
      <th>IdentityProofNo</th>
      <th>Ph_no</th>
      <th>PurposeOfVisit</th>
      <th>Department</th>
      <th>MeetingPerson</th>
      <th>NumberOfPersons</th>
      <th>Pic_loc</th>
      <th>Pdf_loc</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>St. Josephs College Of Engineering</td>
      <td>snekas</td>
      <td>Hostel Parent</td>
      <td>Grand Father</td>
      <td>Female</td>
      <td>License</td>
      <td>123</td>
      <td>9444</td>
      <td>dgvd</td>
      <td>B.E. - ECE</td>
      <td>DEAN</td>
      <td>2</td>
      <td>/home/snekha/hackathons/Reception_SJCE/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>2</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>ssfsd</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>License</td>
      <td>123</td>
      <td>9444</td>
      <td>dgvd</td>
      <td>M.B.A</td>
      <td>LIBRARY</td>
      <td>2</td>
      <td>/home/snekha/hackathons/Reception_SJCE/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>3</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>ssfsd</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>License</td>
      <td>123</td>
      <td>232</td>
      <td>dgvd</td>
      <td>M.B.A</td>
      <td>LIBRARY</td>
      <td>2</td>
      <td>/home/snekha/hackathons/Reception_SJCE/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>4</th>
      <td>St. Josephs College Of Engineering</td>
      <td>bhbk</td>
      <td>Hostel Parent</td>
      <td>Father</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>NaN</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>5</th>
      <td>St. Josephs College Of Engineering</td>
      <td>bhbk</td>
      <td>Hostel Parent</td>
      <td>Father</td>
      <td>Male</td>
      <td>License</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - ECE</td>
      <td>DEAN</td>
      <td>3</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>6</th>
      <td>St. Josephs College Of Engineering</td>
      <td>hii</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>554</td>
      <td>787\</td>
      <td>NaN</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>NaN</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>7</th>
      <td>St. Josephs College Of Engineering</td>
      <td>hii</td>
      <td>Hostel Parent</td>
      <td>Mother</td>
      <td>Male</td>
      <td>License</td>
      <td>56</td>
      <td>855</td>
      <td>2gikhb</td>
      <td>B.E. - EEE</td>
      <td>CHAIRMAN</td>
      <td>4</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>8</th>
      <td>St. Josephs College Of Engineering</td>
      <td>fyjhk</td>
      <td>Hostel Parent</td>
      <td>Sister</td>
      <td>Female</td>
      <td>License</td>
      <td>56</td>
      <td>45</td>
      <td>2gikhb</td>
      <td>B.E. - CIVIL</td>
      <td>HEAD OF DEPARTMENT</td>
      <td>5</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>9</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>vgujg</td>
      <td>Parents</td>
      <td>Grand Father</td>
      <td>Female</td>
      <td>Voter ID</td>
      <td>56</td>
      <td>45</td>
      <td>2gikhb</td>
      <td>B.E. - ICE</td>
      <td>CHAIRMAN</td>
      <td>4</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>10</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>vgujg</td>
      <td>Parents</td>
      <td>Grand Father</td>
      <td>Female</td>
      <td>Voter ID</td>
      <td>56</td>
      <td>45</td>
      <td>2gikhb</td>
      <td>B.E. - ICE</td>
      <td>CHAIRMAN</td>
      <td>4</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>11</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>vgujg</td>
      <td>Parents</td>
      <td>Grand Father</td>
      <td>Female</td>
      <td>Voter ID</td>
      <td>56</td>
      <td>45</td>
      <td>2gikhb</td>
      <td>B.E. - ICE</td>
      <td>CHAIRMAN</td>
      <td>4</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>12</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>vgujg</td>
      <td>Parents</td>
      <td>Grand Father</td>
      <td>Female</td>
      <td>Voter ID</td>
      <td>56</td>
      <td>45</td>
      <td>2gikhb</td>
      <td>B.E. - ICE</td>
      <td>CHAIRMAN</td>
      <td>4</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>13</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>vgujg</td>
      <td>Parents</td>
      <td>Grand Father</td>
      <td>Female</td>
      <td>Voter ID</td>
      <td>56</td>
      <td>45</td>
      <td>2gikhb</td>
      <td>B.E. - ICE</td>
      <td>CHAIRMAN</td>
      <td>4</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>14</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>hii</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>56</td>
      <td>45</td>
      <td>2gikhb</td>
      <td>M.E. - CSE</td>
      <td>MANAGING DIRECTOR</td>
      <td>4</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>15</th>
      <td>St. Josephs College Of Engineering</td>
      <td>vgujg</td>
      <td>Hostel Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - EIE</td>
      <td>MANAGING DIRECTOR</td>
      <td>3</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>16</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>hii</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>PAN Card</td>
      <td>56</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>M.E. - CSE</td>
      <td>PLACECMENT</td>
      <td>4</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>17</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>hii</td>
      <td>Hostel Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>License</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - ICE</td>
      <td>MANAGING DIRECTOR</td>
      <td>3</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>18</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>bhbk</td>
      <td>Parent</td>
      <td>Mother</td>
      <td>Female</td>
      <td>PAN Card</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - ICE</td>
      <td>MANAGING DIRECTOR</td>
      <td>3</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>19</th>
      <td>St. Josephs College Of Engineering</td>
      <td>vgujg</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - CIVIL</td>
      <td>CHAIRMAN</td>
      <td>4</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>20</th>
      <td>St. Josephs College Of Engineering</td>
      <td>hii</td>
      <td>Parent</td>
      <td>Mother</td>
      <td>Male</td>
      <td>Aadhaar ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - EEE</td>
      <td>MANAGING DIRECTOR</td>
      <td>4</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>21</th>
      <td>St. Josephs College Of Engineering</td>
      <td>bhbk</td>
      <td>Parent</td>
      <td>Grand Mother</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - EEE</td>
      <td>DEAN</td>
      <td>3</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>22</th>
      <td>St. Josephs College Of Engineering</td>
      <td>hii</td>
      <td>Hostel Parent</td>
      <td>Mother</td>
      <td>Male</td>
      <td>License</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - EEE</td>
      <td>MANAGER</td>
      <td>3</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>23</th>
      <td>St. Josephs College Of Engineering</td>
      <td>hii</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Female</td>
      <td>Voter ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>M.E. - Applied Electronics</td>
      <td>CHAIRMAN</td>
      <td>3</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>24</th>
      <td>St. Josephs College Of Engineering</td>
      <td>vgujg</td>
      <td>Parent</td>
      <td>Mother</td>
      <td>Male</td>
      <td>License</td>
      <td>56</td>
      <td>45</td>
      <td>2gikhb</td>
      <td>B.E. - ICE</td>
      <td>DEAN</td>
      <td>4</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>25</th>
      <td>St. Josephs College Of Engineering</td>
      <td>hii</td>
      <td>Parent</td>
      <td>Father</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - CIVIL</td>
      <td>DEAN</td>
      <td>4</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>26</th>
      <td>St. Josephs College Of Engineering</td>
      <td>abcd</td>
      <td>Parent</td>
      <td>Father</td>
      <td>Male</td>
      <td>Aadhaar ID</td>
      <td>8899929</td>
      <td>278</td>
      <td>ghjbkfv</td>
      <td>B.E. - EEE</td>
      <td>PRINCIPAL</td>
      <td>4</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>28</th>
      <td>St. Josephs College Of Engineering</td>
      <td>hii</td>
      <td>Parent</td>
      <td>Grand Mother</td>
      <td>Male</td>
      <td>Ration Card</td>
      <td>56</td>
      <td>45</td>
      <td>ghjbkfv</td>
      <td>B.E. - ICE</td>
      <td>CHAIRMAN</td>
      <td>4</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>29</th>
      <td>St. Josephs College Of Engineering</td>
      <td>asd</td>
      <td>Parents</td>
      <td>Mother</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>56465</td>
      <td>45965</td>
      <td>asfdf</td>
      <td>B.E. - ECE</td>
      <td>PRINCIPAL</td>
      <td>78</td>
      <td>/home/sanjiv/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>30</th>
      <td>St. Josephs College Of Engineering</td>
      <td>asd</td>
      <td>Parents</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>Aadhaar ID</td>
      <td>56465</td>
      <td>45965</td>
      <td>asfdf</td>
      <td>B.E. - CSE</td>
      <td>HEAD OF DEPARTMENT</td>
      <td>78</td>
      <td>/home/sanjiv/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>31</th>
      <td>St. Josephs College Of Engineering</td>
      <td>asd</td>
      <td>Hostel Parent</td>
      <td>Mother</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>56465</td>
      <td>45965</td>
      <td>asfdf</td>
      <td>B.E. - ECE</td>
      <td>PRINCIPAL</td>
      <td>78</td>
      <td>/home/sanjiv/Reception_web/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>32</th>
      <td>St. Josephs College Of Engineering</td>
      <td>asd</td>
      <td>Parents</td>
      <td>Father</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>5646</td>
      <td>123</td>
      <td>hjg</td>
      <td>B.Tech. - Biotechnology</td>
      <td>DEAN</td>
      <td>1</td>
      <td>/home/sanjiv/Reception_web/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>33</th>
      <td>St. Josephs College Of Engineering</td>
      <td>asd</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>License</td>
      <td>5646</td>
      <td>23345</td>
      <td>hjg</td>
      <td>B.E. - EEE</td>
      <td>CHAIRMAN</td>
      <td>1</td>
      <td>/home/sanjiv/Reception_web/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>34</th>
      <td>St. Josephs College Of Engineering</td>
      <td>asd</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>PAN Card</td>
      <td>56465</td>
      <td>232343</td>
      <td>asfdf</td>
      <td>B.E. - EEE</td>
      <td>DEAN</td>
      <td>78</td>
      <td>/home/sanjiv/Reception_web/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>35</th>
      <td>St. Josephs College Of Engineering</td>
      <td>rr</td>
      <td>Parent</td>
      <td>Mother</td>
      <td>Male</td>
      <td>Aadhaar ID</td>
      <td>ee</td>
      <td>9999</td>
      <td>taking home</td>
      <td>B.Tech. - ADS</td>
      <td>PRINCIPAL</td>
      <td>3</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>36</th>
      <td>St. Josephs College Of Engineering</td>
      <td>rr</td>
      <td>Parent</td>
      <td>Mother</td>
      <td>Male</td>
      <td>Aadhaar ID</td>
      <td>ee</td>
      <td>9999</td>
      <td>taking home</td>
      <td>B.Tech. - ADS</td>
      <td>PRINCIPAL</td>
      <td>3</td>
      <td>/home/sanjiv/Reception_web/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
  </tbody>
</table>