<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NameOfClg</th>
      <th>Name</th>
      <th>ModeOfEntry</th>
      <th>Relation</th>
      <th>Sex</th>
      <th>IdentityProof</th>
      <th>IdentityProofNo</th>
      <th>Ph_no</th>
      <th>PurposeOfVisit</th>
      <th>Department</th>
      <th>MeetingPerson</th>
      <th>NumberOfPersons</th>
      <th>Pic_loc</th>
      <th>Pdf_loc</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>St. Josephs College Of Engineering</td>
      <td>bhbk</td>
      <td>Hostel Parent</td>
      <td>Father</td>
      <td>Male</td>
      <td>License</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - ECE</td>
      <td>DEAN</td>
      <td>3</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>15</th>
      <td>St. Josephs College Of Engineering</td>
      <td>vgujg</td>
      <td>Hostel Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - EIE</td>
      <td>MANAGING DIRECTOR</td>
      <td>3</td>
      <td>Choose...</td>
      <td>Choose...</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>16</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>hii</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>PAN Card</td>
      <td>56</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>M.E. - CSE</td>
      <td>PLACECMENT</td>
      <td>4</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>17</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>hii</td>
      <td>Hostel Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>License</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - ICE</td>
      <td>MANAGING DIRECTOR</td>
      <td>3</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>18</th>
      <td>St. Josephs Institute Of Technology</td>
      <td>bhbk</td>
      <td>Parent</td>
      <td>Mother</td>
      <td>Female</td>
      <td>PAN Card</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - ICE</td>
      <td>MANAGING DIRECTOR</td>
      <td>3</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>19</th>
      <td>St. Josephs College Of Engineering</td>
      <td>vgujg</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - CIVIL</td>
      <td>CHAIRMAN</td>
      <td>4</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>20</th>
      <td>St. Josephs College Of Engineering</td>
      <td>hii</td>
      <td>Parent</td>
      <td>Mother</td>
      <td>Male</td>
      <td>Aadhaar ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - EEE</td>
      <td>MANAGING DIRECTOR</td>
      <td>4</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>21</th>
      <td>St. Josephs College Of Engineering</td>
      <td>bhbk</td>
      <td>Parent</td>
      <td>Grand Mother</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - EEE</td>
      <td>DEAN</td>
      <td>3</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>22</th>
      <td>St. Josephs College Of Engineering</td>
      <td>hii</td>
      <td>Hostel Parent</td>
      <td>Mother</td>
      <td>Male</td>
      <td>License</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - EEE</td>
      <td>MANAGER</td>
      <td>3</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>23</th>
      <td>St. Josephs College Of Engineering</td>
      <td>hii</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Female</td>
      <td>Voter ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>M.E. - Applied Electronics</td>
      <td>CHAIRMAN</td>
      <td>3</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>25</th>
      <td>St. Josephs College Of Engineering</td>
      <td>hii</td>
      <td>Parent</td>
      <td>Father</td>
      <td>Male</td>
      <td>Voter ID</td>
      <td>282903</td>
      <td>209</td>
      <td>2gikhb</td>
      <td>B.E. - CIVIL</td>
      <td>DEAN</td>
      <td>4</td>
      <td>/home/kishore/Reception_website/Final_website</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
    <tr>
      <th>37</th>
      <td>St. Josephs College Of Engineering</td>
      <td>vgujg</td>
      <td>Parent</td>
      <td>Grand Father</td>
      <td>Male</td>
      <td>Ration Card</td>
      <td>282903</td>
      <td>209</td>
      <td>ghjbkfv</td>
      <td>B.Tech. - ADS</td>
      <td>DIRECTOR</td>
      <td>4</td>
      <td>/home/kishore/Reception/Final_website/</td>
      <td>../static/shot/</td>
      <td>2023-01-12</td>
    </tr>
  </tbody>
</table>